%body
  %header.navigation
    .navigation-wrapper
      %a.logo{href: root_url}
        = image_tag 'nav_icon.jpeg'
      %nav
        %ul#js-navigation-menu.navigation-menu.show
          %li.nav-link
            %a{href: "javascript:void(0)"} Technical Articles
          %li.nav-link
            %a{href: "javascript:void(0)"} Origami
          %li.nav-link
            %a{href: "javascript:void(0)"} Resume
